// bower:scss
// endbower
@import 'material';
@font-face {
    font-family: 'markot';
    src: url("../fonts/markot-webfont-webfont.woff2") format("woff2"), url("../fonts/markot-webfont-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'markot bold';
    src: url("../fonts/markot-bold-webfont-webfont.woff2") format("woff2"), url("../fonts/markot-bold-webfont-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

body {
    font-family: 'markot', Arial, sans - serif;
}

$color: #A5000F;
h1,
p {
    padding-top: 12px !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

h1 {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 1rem !important;
}

md-content {
    background-color: $color;
    padding: 10px;
    color: #fff;
}

.questions-form {
    max-width: 300px;
    overflow: hidden;
    form {
        width: 100%;
        .md-input {
            background-color: #fff;
        }
        .md-input-container.md-default-theme.md-input-invalid .md-input-message-animation,
        md-input-container.md-input-invalid .md-input-message-animation,
        md-input-container.md-default-theme.md-input-invalid .md-char-counter,
        md-input-container.md-input-invalid .md-char-counter {
            color: #fff;
        }
        .md-input-focused label,
        md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label,
        md-input-container:not(.md-input-invalid).md-input-has-value label {
            color: #fff;
        }
    }
}

.questions-send {
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    background-color: $color;
}

.fade.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
    left: 100%;
}


/* The finishing CSS styles for the enter animation */

.fade.ng-enter.ng-enter-active {
    opacity: 1;
    left: 0%;
}

.md-button {
    color: $color;
    background-color: #fff;
    opacity: 1;
    margin: 0 0;
    &[disabled] {
        background-color: transparentize($color, .2);
    }
}

.shortlist {
    md-list-item {
        transition: 0.5s linear all;
        background-color: $color;
        p {
            line-height: 1.3rem;
            transition: 0.5s linear all;
            background-color: $color;
            color: #fff;
        }
        &:hover {
            transition: 0.5s linear all;
            background-color: #fff;
            color: $color;
            p {
                background-color: #fff;
                color: $color;
                transition: 0.5s linear all;
            }
            .shortlist-icon__svg {
                fill: $color;
                transition: 0.5s linear all;
            }
        }
    }
    &-questions {}
    &-icon {
        width: 2rem;
        height: 100%;
        padding-right: .5rem;
        padding-top: 25px;
        &__svg {
            fill: #fff;
            height: 2rem;
            width: 2rem;
            transition: 0.5s linear all;
        }
    }

}

md-list-item._md-button-wrap > div.md-button {
    padding: 0 0 !important;
}
