// bower:scss
// endbower
@import 'material';
@font-face {
    font-family: 'markot';
    src: url("../fonts/markot-webfont-webfont.woff2") format("woff2"), url("../fonts/markot-webfont-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'markot bold';
    src: url("../fonts/markot-bold-webfont-webfont.woff2") format("woff2"), url("../fonts/markot-bold-webfont-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

body {
    font-family: 'markot', Arial, sans - serif;
}

h1,
p {
    padding-top: 12px !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

h1 {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 1rem !important;
}

.questions-form {
    max-width: 300px;
    overflow: hidden;
    form {
        width: 100%;
    }
}

.questions-send {
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    background-color: #7A000B;
}

.fade.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
    left: 100%;
}


/* The finishing CSS styles for the enter animation */

.fade.ng-enter.ng-enter-active {
    opacity: 1;
    left: 0%;
}

.md-button {
    color: white;
    background-color: #7A000B;
    opacity: 1;
    margin: 0 0;
    &[disabled] {
        background-color: transparentize(#7A000B, .2);
    }
}

.shortlist {
    &-questions {}
    &-icon {
        width: 2rem;
        height: 100%;
        padding-right: .5rem;
        &__svg {
            fill: #7A000B;
            height: 2rem;
            width: 2rem;
            transition: 0.5s linear all;

        }
    }
    &-question {
        line-height: 1.3rem;
        transition: 0.5s linear all;
        background-color: white;
        color: #7A000B;
        &:hover {
            background-color: #7A000B;
            color: white;
            transition: 0.5s linear all;
        }
    }
}

md-list-item._md-button-wrap > div.md-button {
    padding: 0 0 !important;
}
