<md-content flex>
    <p>Waar wil jij onze reporter op afsturen? Laat het ons hier weten.</p>
    <div layout="row" class="questions-form" layout-align="center start">
        <form name="questionsForm">
            <md-input-container class="md-block">
                <label>Jouw vraag/suggestie</label>
                <textarea name="question" ng-model="form.question" required></textarea>
                <div ng-messages="questionsForm.question.$error">
                    <div ng-message="required">Dit is verplicht.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Je naam</label>
                <input required name="name" ng-model="form.name">
                <div ng-messages="questionsForm.name.$error">
                    <div ng-message="required">Dit is verplicht.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Je emailadres</label>
                <input required type="email" name="email" ng-model="form.email" ng-pattern="/^.+@.+\..+$/" />
                <div ng-messages="questionsForm.email.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']">
                        Je emailadres lijkt niet helemaal correct te zijn.
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Je telefoonnummer</label>
                <input name="phone" ng-model="form.phone"/>
            </md-input-container>



            <md-button style="width:100%" ng-click="addQuestion(form)" ng-disabled="!questionsForm.$valid">Verstuur je vraag</md-button>
        </form>
    </div>
    <div ng-if="send" ng-class="{'questions-send--visible': send}" class="questions-send fade" layout="column" layout-align="center center" layout-padding>
        <h1>Bedankt voor je inzending, {{form.name}}</h1>
        <p>De redactie gaat meteen met je vraag aan de slag!</p>
    </div>
</md-content>
